@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

@import url("/assets/bower_components/bootstrap/dist/css/bootstrap.min.css");


//Add Color Palette
$blue        : #137a9c;
$dark        : #000000;
$darkGrey    : #333333;
$grey        : #777777;
$yellow      : #F0AB00;
$light       : #FFFFFF;

$backgroundColor : $light;
$typeDefault     : darken($grey, 20%);

$fontOpenSans : 'Open Sans', 'Helvetica Neue', Helvetica, Arial,  sans-serif;

$normal : 500;
$bold : 600;


$headFont : $normal 1.5em/1.5em $fontOpenSans;
$mainFont : $normal 1.2em/1.5em $fontOpenSans;
$font3X   : 18px;
$font2X   : 14px;
$font1X   : 12px;
$fontX    : 10px;
$textPrimary: $darkGrey;
$linkPrimary: $yellow;

$headColor: darken($blue,2);

$lightBorder: 1px solid #ddd;

