<header id="header">

  <div class="page-header">
    <img src="../../../assets/images/logo.png" alt="GH Search Logo" />
    <h1>GH Search
      <small>Browse GitHub Repositories</small>
    </h1>
  </div>


</header>