#header{
  .page-header{
    img{
      margin-top: -20px;
      width: 40px;
      margin-right: 5px;
    }//img
    h1{
      color: $headColor;
      display: inline-block;
    }//h1
  }//page-header
}//header
